<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">No of Students</h5>
          <p class="card-text"><%=countCS%></p>
          <a href="#" class="btn btn-primary">Let's see</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">No of rooms</h5>
          <p class="card-text"><%=rooms %></p>
          <a href="#" class="btn btn-primary">Let's see</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">AVAILABLE</h5>
            <p class="card-text"><%=avarooms%></p>
            <a href="#" class="btn btn-primary">Let's see</a>
          </div>
        </div>
      </div>
  </div>


   

 