<footer class="text-center text-white py-3 fixed-bottom" style="background-color: gray;">
  <div class="container">
      <p class="mb-1">&copy; 2025 GP Bhojpur Channakya Hostel. All rights reserved.</p>
      <p class="mb-0">Created by <strong>Sudhirka7</strong></p>
  </div>
</footer>
