

<nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #20c971!important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/dashboard"><img width="50px" src="/img/gpbhojpur.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tables">Table</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rooms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Boys A</a></li>
            <li><a class="dropdown-item" href="#">Boys B</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Girls A</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rooms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Boys A</a></li>
            <li><a class="dropdown-item" href="#">Boys B</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Girls A</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/registration">Add Student</a>
        </li>
      </ul> 
      <form class="d-flex">
        <a class="btn btn-sm btn-outline-success" href="/admin/login">Logout</a>
      </form>
    </div>
  </div>
</nav>

 