<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1><%=msg %></h1>
    <a href="<%=link%>">Go to Bact </a>

    <form action="/uploads">
        <input type="file" name="file">
    </form>
</body>
</html>