
.dashboard_row1{
    height: 70px;
    vertical-align: middle;  
}
.dashboard_row1 ul{
 display: flex;
 justify-content: center;
 align-items: center;

 
} 
.dashboard_row1 ul li{
 list-style: none;
 padding: 1.5rem;
 border-radius: 1rem;
}
.dashboard_row1 ul a:hover{
    background: #9fe2ea;

}

.dashboard_box{
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}
.dashboard_box .item{
    width: 25%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 2%;
    border: none;
    background: #9fe2ea;
    text-transform: uppercase;
    box-shadow: .1rem .1rem .1rem 0.1rem rgba(128, 128, 128, 0.385);
}
 
.dashboard_box .item .data{
    font-size: 1vw;
}

.dashboard_box .item .data span{
    color: maroon;
}