.table-hostel {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    text-align: center;
}
.table-hostel th, .table-hostel td {
    padding: 10px;
    border: 1px solid #ddd;
}
.table-hostel th {
    background-color: #4CAF50;
    color: white;
}
.table-hostel tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* .table-hostel tr:hover {
    background-color: #ddd;
} */