<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hero {
            background: url('/img/hostel_home.webp') no-repeat center center/cover;
            height: 100vh;
            color: white;
            display: flex;
            align-items: center;
            text-align: center;
        }

        .hero h1 {
            font-size: 3rem;
        }
    </style>
</head>

<body>
    <header class="hero">
        <div class="container">
            <h1>Welcome to Gp Bhojpur Hostel</h1>

            <!-- sign in start -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signinModal">Login</button>
            <!-- sign in end -->

            <!-- Modal -->
            <!-- sign-up in start -->
            <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/sign-up" method="POST" role="form text-left">
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="Name"
                                        aria-label="Name" aria-describedby="email-addon">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                        aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                        aria-label="Password" aria-describedby="password-addon">
                                </div>

                                <button type="button" class="btn btn-primary">Sign up</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <p class="text-dark">Already have an account?  
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signinModal">Login</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sign up end -->
            <!-- sign-up in start -->
            <div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Sign in</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                                <form action="/admin/login" method="POST" role="form">
                                    <label>Email</label>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                            aria-label="Email" aria-describedby="email-addon">
                                    </div>
                                    <label>Password</label>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Password" aria-label="Password"
                                            aria-describedby="password-addon">
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>    
                                  <button type="submit" class="btn btn-primary">Sign in</button>
                                    
                                </form>
                           
                            
                        </div>
                        <div class="modal-footer">
                            <p class="text-dark">Don't have an account? 
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Login</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sign up end -->
            <!-- Modal -->
        </div>
    </header>

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>